/* font-family */
body {
  font-family: sans-serif;
}

/* font-size */
#text-css h1{
  font-size: 50px;
}

/* font-weight */
#text-css h2 {
  font-weight: lighter;
}

/* text-align */
.text-center {
   text-align: center;
}

/* text-decoration */
a {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

/*list-style */
ul {
  list-style: none;
}


/* font-style */
p {
  font-style: italic;
  text-decoration: line-through;
}

#text-css p {
  color: red;
}

#text-css > p { /* Direct child */
  color: blue;
}

/* Alignment */

/*
	margin
	padding
	top
	left
	right
	bottom
	width
	height
	display
	position
*/




.parent p {
  font-size: 100px;
}

.parent > p {
  font-size: 50px;
}

.child  > p {
  font-size: 1px;
}

.child-child p {
 font-style: oblique;
}











